@import url(style.css);
.titre{
    display: flex;
    justify-content: space-between;
    /* width: 100%!important; */
    align-items:center;
    
}

.titre h1{
    margin-left: .5rem;
}

.titre button{
    margin-right: .5rem;
}

.content{
    /* margin-top: 3em;
    padding: 1rem; */
    display: flex;
    justify-content: center;
    max-height: 300px!important;
    overflow-y: auto;
}

.marge{
    margin: 10px!important;
    
}

.ctr-emprunter{
    width: 300px;
}

.btn-envoyer{
    margin-left: .5em;
}